@font-face {
    font-family: 'Smart FontUI';
    src: url('../../assets/fonts/03スマートフォントUI.otf');
}

/* 案用 */
.design_palans_panel{
    width: 100%;
    height: 50px;
}
body.patern_plan_1{
    --login-items-panel-text-align: left;
    --index-btn-panel-text-align: right;
    --login-title-img-panel-margin-left: 0;
}

body.color_plan_3{
    --bg-color: #448CAD;
    --font-color: #F4F5F6;
    --input-border-color: #F4F5F6;
    --btn-bg-colr: #202C3D;

    --select-tab-item-bg-color: #448CAD;
    --not-select-tab-item-bg-color: #202C3D;
    --tab-item-font-color: #F4F5F6;
    --contens-panel-bg-color: #F4F5F6;
    --contens-panel-font-color: #448CAD;
    --contens-panel-border-color: rgb(31, 38, 41);
    --user-info-img-bg-color: #448CAD;
}

body.font_plan_2{
    --normal-font-family: 'Smart FontUI';
}

/* 画面用 */
body{
    width: 100%;
    min-width: 360px;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: var(--normal-font-family);
    font-size: 0;
}
button{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
input{
    outline: none;
    padding: 0 5px;
    font-family: 'Smart FontUI';
    color: var(--font-color);
    font-size: 20px;
}

.middle_wrapper::before,
.middle_wrapper::after{
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.hidden{
    display: none;
}

.body_panel{
    width: 100%;
    height: calc(100% - 50px);
    height: 100%;
    text-align: center;
}
.body_panel > div{
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    margin: auto;
}

/* header */
.header_panel{
    width: 100%;
    height: 100px;
}
.header_panel > div{
    display: inline-block;
    vertical-align: middle;
}
.header_title_img{
    display: inline-block;
    vertical-align: middle;
    height: 65px;
    margin-right: 10px;
}
.header_title_text{
    display: inline-block;
    vertical-align: middle;
    font-size: 60px;
    font-weight: bold;
}


/* tab */
#tab_panel{
    width: 100%;
    height: 100px;
}
.tab_item{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    height: 100%;
    background-color: var(--not-select-tab-item-bg-color);
}
#tab_panel .tab_item:first-child{
    border-top-left-radius: 5px;
}
#tab_panel .tab_item:last-child{
    border-top-right-radius: 5px;
}
.select_tab{
    background-color: var(--select-tab-item-bg-color);
}
.tab_item_title{
    display: inline-block;
    vertical-align: middle;
    font-size: 36px;
    font-weight: bold;
    color: var(--tab-item-font-color);
}

/* contens */
#main_panel{
    width: 100%;
    height: calc(100% - 150px);
    min-height: 630px;
    text-align: left;

    color: var(--contens-panel-font-color);
    background-color: var(--contens-panel-bg-color);
    border-radius: 5px;
}
/* .one_item_panel{
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 20px);
    margin: 0 10px;
    padding-top: 30px;
} */
.one_item_panel.hidden{
    display: none;
}
.item_name{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    border-bottom: 3px solid var(--contens-panel-border-color);
}
.item_contens{
    width: 100%;
    text-align: left;
}

/* メニュー*/
#menu_panel{
    display: inline-block;
    vertical-align: top;
    width: calc(30% - 20px);
    margin: 0 10px;
    padding-top: 30px;
}

.menu_item{
    width: calc(100% - 10px);
    height: 50px;
    padding-left: 10px;
    line-height: 50px;
    font-size: 18px;
}

.select_menu{
    background-color: var(--select-tab-item-bg-color);
    color: var(--tab-item-font-color);
    border-radius: 5px;
}


#menu_me_main_panel{
    display: inline-block;
    vertical-align: top;
    width: calc(70% - 20px);
    margin: 0 10px;
    padding-top: 30px;
}

/* ユーザー情報 */

#user_info_panel .item_contens{
    height: 170px;
}
.user_info_img_panel{
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.user_info_img{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-color: var(--user-info-img-bg-color);
    background-image: url('../../assets/images/no_user_img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.user_info_img.no_user_img{
    background-size: 70%;
}
.user_info_text_panel{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 170px);
    padding-left: 20px;
    font-size: 20px;
    text-align: left;
}
.user_info_text_panel > div{
    font-size: 0;
    margin: 5px 0;
}
.user_info_text_panel .user_name{
    font-size: 24px;
    margin-bottom: 10px;
    word-break: break-all;
}
.user_info_label,
.user_info_text{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.user_info_icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}

.online_icon{
    border-radius: 50%;
}
.online_icon.online{
    background-color: chartreuse;
}
.game_num_icon{
    background-image: url('../../assets/images/game.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.sum_time_icon{
    background-image: url('../../assets/images/sum_time.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.user_info_label{
    width: 120px;
    text-align: left;
}
.user_info_text{
    width: 50%;
    text-align: left;
}

/* 所持しているゲーム */
#friend_game_panel .item_name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#game_tab{
    width: 100%;
    height: 50px;
    border-bottom: 10px solid var(--select-tab-item-bg-color);
}
.tab_item{
display: inline-block;
vertical-align: middle;
width: 50%;
height: 100%;

font-size: 24px;
line-height: 60px;
font-weight: bold;
text-align: center;
color: var(--tab-item-font-color);

background-color: var(--not-select-tab-item-bg-color);
}
#game_tab .tab_item:first-child{
border-top-left-radius: 5px;
}
#game_tab .tab_item:last-child{
border-top-right-radius: 5px;
}
.select_tab{
background-color: var(--select-tab-item-bg-color);
}
/* #user_game_panel.one_item_panel,
#friend_game_panel.one_item_panel{
    width: calc(100% - 250px);
} */

#user_game_panel .item_contens,
#friend_game_panel .item_contens{
    height: calc(100% - 290px);
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}
.one_game{
    display: block;
    vertical-align: top;
    width: 100%;
    margin: 10px 0;
}
.game_img{
    display: inline-block;
    vertical-align: top;
    width: 170px;
    height: 80px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: var(--user-info-img-bg-color);
    background-image: url('../../assets/images/no_user_img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.game_img.no_game_img{
    background-size: 50px;
}
.game_name{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 160px);
    padding-top: 20px;
    padding-left: 10px;
    font-size: 20px;
    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 友達一覧 */
#friends_list_panel.one_item_panel{
    display: inline-block;
    vertical-align: top;
    width: calc(70% - 20px);
    margin: 0 10px;
    padding-top: 30px;
}

#friends_list_panel .item_name{
    margin-bottom: 0px;
}
#friends_list_panel .item_contens{
    height: calc(100% - 60px);
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}
.one_friend{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.friend_img{
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: var(--user-info-img-bg-color);
    background-image: url('../../assets/images/no_user_img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.friend_img.no_user_img{
    background-size: 70%;
}
.friend_name{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 160px);
    padding-left: 10px;
    font-size: 24px;
    text-align: left;
    line-height: 44px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.one_friend.not_select_friend::before{
    position: absolute;
    top: -10px;
    content: '';
    width: 100%;
    height: calc(100% + 20px);
    background-color: #202C3D;
    opacity: 0.8;
}
.one_friend:first-child.not_select_friend::before{

}
.one_friend:last-child.not_select_friend::before{

}

/* ゲーム詳細 */
#game_details_panel.one_item_panel{
    width: calc(100% - 20px);
}
#game_details_panel .item_name{
    width: 100%;
    margin: 0px auto 10px;
}
.game_details_img_panel{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: center;
}
.game_details_img{
    display: inline-block;
    width: 100%;
    height: 150px;
    border-radius: 5px;
    background-color: var(--user-info-img-bg-color);
    background-image: url('../../assets/images/no_user_img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.game_details_img.no_game_img{
    background-size: 105px;
}
.game_details_text_panel{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-size: 20px;
    text-align: left;
}
.game_details_text_panel > div{
    font-size: 0;
}
.game_details_text_panel .game_details_game_name{
    font-size: 24px;
    margin: 10px 0;
}
.game_details_label,
.game_details_text{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin: 5px 0;
}
.game_details_label{
    width: 170px;
    text-align: left;
}
.game_details_text{
    width: 50%;
    text-align: left;
}

.game_details_btn_panel{
    text-align: left;
    margin-top: 10px;
}
#game_details_back_btn{
    width: 100px;
    height: 40px;
    font-size: 20px;
    color: var(--font-color);
    background-color: var(--btn-bg-colr);
    border-radius: 5px;
}
/* スマホ */
@media screen and (max-width: 500px){
    .header_panel {
        height: 50px;
    }
    .header_title_img{
        height: 32px;
        margin-right: 5px;
    }
    .header_title_text{
        font-size: 30px;
    }


    #tab_panel {   
        height: 50px;
    }
    .tab_item_title {
        font-size: 24px;
    }
    #main_panel {
        height: calc(100% - 100px);
        min-height: 0;
    }

    #user_info_panel.one_item_panel,
    #friends_list_panel.one_item_panel,
    #user_game_panel.one_item_panel,
    #friend_game_panel.one_item_panel{
        width: calc(50% - 20px);
    }
    /* .one_item_panel{
        height: 170px;
        padding-top: 10px;
    }
    */
    
    .item_name{
        font-size: 24px;
    }
/*
    .user_info_img_panel{
        width: 120px;
    }*/
    .user_info_img{
        width: 80px;
        height: 80px;
    }
    
    #user_info_panel .user_name{
        font-size: 18px;
    }

    .user_info_label{
        width: 100%;
        text-align: center;
    }    
    .user_info_text{
        width: 100%;
        text-align: center;
        margin: 0 0 10px;
    }

    .one_game{
        margin-bottom: 10px;
    }
    .game_img{
        width: 100%;
        height: 80px;
    }
    .game_img.no_game_img{
        background-size: 56px;
    }
    .game_name{
        font-size: 18px;
    }

    .one_friend{
        margin-bottom: 10px;
    }
   
    .friend_img{
        width: 80px;
        height: 80px;
    }
    .friend_name{
        font-size: 18px;
    }
    .one_friend.not_select_friend::before{
        top: -10px;
        height: calc(100% + 10px);
    }
    /*
    .one_friend:first-child.not_select_friend::before{
        left: 0px;
        width: 110px;
    }
    .one_friend:last-child.not_select_friend::before{
        width: 110px;
    }

    .game_details_img_panel{
        width: 120px;
    }
    .game_details_img{
        width: 100px;
        height: 100px;
    }
    .game_details_text_panel{
        width: calc(100% - 120px);
    }
    .game_details_game_name{
        font-size: 24px;
    }
    .game_details_text{
        font-size: 14px;
    } */
}